<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="javafx.rt" slot="included">
  <dependencies>
    <system export="true">
      <paths>
        <path name="com/sun" />
        <path name="com/sun/deploy" />
        <path name="com/sun/deploy/uitoolkit" />
        <path name="com/sun/deploy/uitoolkit/impl" />
        <path name="com/sun/deploy/uitoolkit/impl/fx" />
        <path name="com/sun/deploy/uitoolkit/impl/fx/ui" />
        <path name="com/sun/deploy/uitoolkit/impl/fx/ui/resources" />
        <path name="com/sun/deploy/uitoolkit/impl/fx/ui/resources/image" />
        <path name="com/sun/glass" />
        <path name="com/sun/glass/events" />
        <path name="com/sun/glass/events/mac" />
        <path name="com/sun/glass/ui" />
        <path name="com/sun/glass/ui/accessible" />
        <path name="com/sun/glass/ui/accessible/mac" />
        <path name="com/sun/glass/ui/android" />
        <path name="com/sun/glass/ui/delegate" />
        <path name="com/sun/glass/ui/mac" />
        <path name="com/sun/glass/utils" />
        <path name="com/sun/javafx" />
        <path name="com/sun/javafx/accessible" />
        <path name="com/sun/javafx/accessible/providers" />
        <path name="com/sun/javafx/accessible/utils" />
        <path name="com/sun/javafx/animation" />
        <path name="com/sun/javafx/applet" />
        <path name="com/sun/javafx/application" />
        <path name="com/sun/javafx/beans" />
        <path name="com/sun/javafx/beans/event" />
        <path name="com/sun/javafx/binding" />
        <path name="com/sun/javafx/charts" />
        <path name="com/sun/javafx/collections" />
        <path name="com/sun/javafx/css" />
        <path name="com/sun/javafx/css/converters" />
        <path name="com/sun/javafx/css/parser" />
        <path name="com/sun/javafx/cursor" />
        <path name="com/sun/javafx/effect" />
        <path name="com/sun/javafx/embed" />
        <path name="com/sun/javafx/event" />
        <path name="com/sun/javafx/font" />
        <path name="com/sun/javafx/font/coretext" />
        <path name="com/sun/javafx/font/directwrite" />
        <path name="com/sun/javafx/font/freetype" />
        <path name="com/sun/javafx/font/t2k" />
        <path name="com/sun/javafx/fxml" />
        <path name="com/sun/javafx/fxml/builder" />
        <path name="com/sun/javafx/fxml/expression" />
        <path name="com/sun/javafx/geom" />
        <path name="com/sun/javafx/geom/transform" />
        <path name="com/sun/javafx/iio" />
        <path name="com/sun/javafx/iio/bmp" />
        <path name="com/sun/javafx/iio/common" />
        <path name="com/sun/javafx/iio/gif" />
        <path name="com/sun/javafx/iio/ios" />
        <path name="com/sun/javafx/iio/jpeg" />
        <path name="com/sun/javafx/iio/png" />
        <path name="com/sun/javafx/image" />
        <path name="com/sun/javafx/image/impl" />
        <path name="com/sun/javafx/jmx" />
        <path name="com/sun/javafx/logging" />
        <path name="com/sun/javafx/media" />
        <path name="com/sun/javafx/menu" />
        <path name="com/sun/javafx/perf" />
        <path name="com/sun/javafx/print" />
        <path name="com/sun/javafx/property" />
        <path name="com/sun/javafx/property/adapter" />
        <path name="com/sun/javafx/robot" />
        <path name="com/sun/javafx/robot/impl" />
        <path name="com/sun/javafx/runtime" />
        <path name="com/sun/javafx/runtime/async" />
        <path name="com/sun/javafx/runtime/eula" />
        <path name="com/sun/javafx/scene" />
        <path name="com/sun/javafx/scene/control" />
        <path name="com/sun/javafx/scene/control/accessible" />
        <path name="com/sun/javafx/scene/control/behavior" />
        <path name="com/sun/javafx/scene/control/skin" />
        <path name="com/sun/javafx/scene/control/skin/caspian" />
        <path name="com/sun/javafx/scene/control/skin/caspian/images" />
        <path name="com/sun/javafx/scene/control/skin/modena" />
        <path name="com/sun/javafx/scene/control/skin/resources" />
        <path name="com/sun/javafx/scene/input" />
        <path name="com/sun/javafx/scene/layout" />
        <path name="com/sun/javafx/scene/layout/region" />
        <path name="com/sun/javafx/scene/paint" />
        <path name="com/sun/javafx/scene/shape" />
        <path name="com/sun/javafx/scene/text" />
        <path name="com/sun/javafx/scene/transform" />
        <path name="com/sun/javafx/scene/traversal" />
        <path name="com/sun/javafx/scene/web" />
        <path name="com/sun/javafx/scene/web/behavior" />
        <path name="com/sun/javafx/scene/web/skin" />
        <path name="com/sun/javafx/sg" />
        <path name="com/sun/javafx/sg/prism" />
        <path name="com/sun/javafx/stage" />
        <path name="com/sun/javafx/text" />
        <path name="com/sun/javafx/tk" />
        <path name="com/sun/javafx/tk/quantum" />
        <path name="com/sun/javafx/webkit" />
        <path name="com/sun/javafx/webkit/drt" />
        <path name="com/sun/javafx/webkit/prism" />
        <path name="com/sun/javafx/webkit/prism/resources" />
        <path name="com/sun/javafx/webkit/prism/theme" />
        <path name="com/sun/javafx/webkit/theme" />
        <path name="com/sun/media" />
        <path name="com/sun/media/jfxmedia" />
        <path name="com/sun/media/jfxmedia/control" />
        <path name="com/sun/media/jfxmedia/effects" />
        <path name="com/sun/media/jfxmedia/events" />
        <path name="com/sun/media/jfxmedia/locator" />
        <path name="com/sun/media/jfxmedia/logging" />
        <path name="com/sun/media/jfxmedia/track" />
        <path name="com/sun/media/jfxmediaimpl" />
        <path name="com/sun/media/jfxmediaimpl/platform" />
        <path name="com/sun/media/jfxmediaimpl/platform/gstreamer" />
        <path name="com/sun/media/jfxmediaimpl/platform/ios" />
        <path name="com/sun/media/jfxmediaimpl/platform/java" />
        <path name="com/sun/media/jfxmediaimpl/platform/osx" />
        <path name="com/sun/openpisces" />
        <path name="com/sun/pisces" />
        <path name="com/sun/prism" />
        <path name="com/sun/prism/es2" />
        <path name="com/sun/prism/es2/glsl" />
        <path name="com/sun/prism/image" />
        <path name="com/sun/prism/impl" />
        <path name="com/sun/prism/impl/packrect" />
        <path name="com/sun/prism/impl/paint" />
        <path name="com/sun/prism/impl/ps" />
        <path name="com/sun/prism/impl/shape" />
        <path name="com/sun/prism/j2d" />
        <path name="com/sun/prism/j2d/paint" />
        <path name="com/sun/prism/j2d/print" />
        <path name="com/sun/prism/paint" />
        <path name="com/sun/prism/ps" />
        <path name="com/sun/prism/shader" />
        <path name="com/sun/prism/shape" />
        <path name="com/sun/prism/sw" />
        <path name="com/sun/scenario" />
        <path name="com/sun/scenario/animation" />
        <path name="com/sun/scenario/animation/shared" />
        <path name="com/sun/scenario/effect" />
        <path name="com/sun/scenario/effect/impl" />
        <path name="com/sun/scenario/effect/impl/es2" />
        <path name="com/sun/scenario/effect/impl/es2/glsl" />
        <path name="com/sun/scenario/effect/impl/hw" />
        <path name="com/sun/scenario/effect/impl/prism" />
        <path name="com/sun/scenario/effect/impl/prism/ps" />
        <path name="com/sun/scenario/effect/impl/prism/sw" />
        <path name="com/sun/scenario/effect/impl/state" />
        <path name="com/sun/scenario/effect/impl/sw" />
        <path name="com/sun/scenario/effect/impl/sw/java" />
        <path name="com/sun/scenario/effect/impl/sw/sse" />
        <path name="com/sun/scenario/effect/light" />
        <path name="com/sun/webkit" />
        <path name="com/sun/webkit/dom" />
        <path name="com/sun/webkit/event" />
        <path name="com/sun/webkit/graphics" />
        <path name="com/sun/webkit/network" />
        <path name="com/sun/webkit/network/about" />
        <path name="com/sun/webkit/network/data" />
        <path name="com/sun/webkit/perf" />
        <path name="com/sun/webkit/plugin" />
        <path name="com/sun/webkit/text" />
        <path name="javafx" />
        <path name="javafx/animation" />
        <path name="javafx/application" />
        <path name="javafx/beans" />
        <path name="javafx/beans/binding" />
        <path name="javafx/beans/property" />
        <path name="javafx/beans/property/adapter" />
        <path name="javafx/beans/value" />
        <path name="javafx/collections" />
        <path name="javafx/collections/transformation" />
        <path name="javafx/concurrent" />
        <path name="javafx/css" />
        <path name="javafx/embed" />
        <path name="javafx/embed/swing" />
        <path name="javafx/event" />
        <path name="javafx/fxml" />
        <path name="javafx/geometry" />
        <path name="javafx/print" />
        <path name="javafx/scene" />
        <path name="javafx/scene/canvas" />
        <path name="javafx/scene/chart" />
        <path name="javafx/scene/control" />
        <path name="javafx/scene/control/cell" />
        <path name="javafx/scene/effect" />
        <path name="javafx/scene/image" />
        <path name="javafx/scene/input" />
        <path name="javafx/scene/layout" />
        <path name="javafx/scene/media" />
        <path name="javafx/scene/paint" />
        <path name="javafx/scene/shape" />
        <path name="javafx/scene/text" />
        <path name="javafx/scene/transform" />
        <path name="javafx/scene/web" />
        <path name="javafx/stage" />
        <path name="javafx/util" />
        <path name="javafx/util/converter" />
        <path name="netscape" />
        <path name="netscape/javascript" />
      </paths>
    </system>
  </dependencies>
</module>
